body {
    margin: 0 auto;
    background-color: #64b5f6;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    font-size: 20px;
    background-color: #1976d2;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nav__button {
    margin: 0 12px;
    cursor: pointer;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 48px; /* Place content 48px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: left;
    background-color: #1976d2;
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    padding-left: 20px;
    border-top: 1px solid #aad9ff;
}

.sidenav a:last-child {
    border-bottom: 1px solid #aad9ff;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #64b5f6;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#currentPage {
    background-color: #64b5f6;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    padding-left: 20px;
    border-top: 1px solid #aad9ff;
}

#setIcon {
    display: flex;
    height: 48px;
    vertical-align: middle;
    line-height: 48px;
}

.settings {
    font-size: 24px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nodrag, img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.nav_separate {
    border-bottom: 4px solid #aad9ff;
}

#date {
    font-size: 16px;
}