html, body {
    margin: 0 auto;
    background-color: #64b5f6;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    overflow-x: hidden;
    height: 100%;
    transition: 1s;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    background-color: #1976d2;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.header__button {
    display: flex;
    margin: 0 12px;
    cursor: pointer;
}

/* The side navigation menu */
aside {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 48px; /* Place content 48px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: left;
    line-height: 48px;
    background-color: #1976d2;
}

/* The navigation menu links */
.aside__item {
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    padding-left: 20px;
    border-top: 1px solid #aad9ff;
}

.item--current {
    background-color: #64b5f6;
    pointer-events: none;
    cursor: default;
}

.aside__item:last-child {
    border-bottom: 1px solid #aad9ff;
}

/* When you mouse over the navigation links, change their color */
.aside__item:hover, .aside__item:focus {
    color: #64b5f6;
}

.aside__separator {
    height: 4px;
    background-color: #aad9ff;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    aside {
        padding-top: 15px;
    }

    aside a {
        font-size: 18px;
    }
}

.settings {
    font-size: 24px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nodrag, img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#date {
    font-size: 16px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.switch__knob {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bdbdbd;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.switch__knob:before {
    position: absolute;
    left: 4px;
    bottom: 4px;
    height: 26px;
    width: 26px;
    background-color: #fafafa;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    content: "";
}

input:checked + .switch__knob {
    background-color: #1976d2;
}

input:focus + .switch__knob {
    box-shadow: 0 0 1px #1976d2;
}

input:checked + .switch__knob:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.timeline {
    display: flex;
    position: relative;
    width: 100%;
    margin: 24px 0;
}

.timeline__indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -8px;
    z-index: 1;
    width: 0;
}

.indicator__line {
    height: 64px;
    width: 2px;
    background: repeating-linear-gradient(
            #f44336,
            #f44336 calc(50% / 5.5),
            transparent calc(50% / 5.5),
            transparent calc(100% / 5.5)
    );
}

.indicator__label {
    color: #f44336;
    padding: 4px;
}

.timeline__part {
    display: inline-block;
    position: relative;
    height: 48px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.part--day {
    background-color: #bbdefb;
}

.part--night {
    background-color: #0d47a1;
}

.part--disabled {
    background: #bdbdbd url('../icons/ic_lock_grey_24px.svg') center no-repeat;
    background-size: 32px;
    box-shadow: none;
    flex-grow: 1;
}

.timeline__label {
    position: absolute;
    left: -16px;
    z-index: 2;
    width: 0;
}

.label--day {
    top: -18px;
}

.label--night {
    top: 48px;
}

.label--start {
    top: -18px;
    left: 4px;
    width: auto;
    text-align: left;
}

.label--end {
    top: 48px;
    left: -38px;
    width: auto;
    text-align: right;
}
