main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 48px);
}

.current {
    display: flex;
    align-items: center;
    margin: 4px auto;
    max-height: 100px;
}

.current td {
    padding: 0 10px 0 10px;
}

.current__label {
    font-size: 20px;
}

.current__value {
    font-size: 24px;
}

.radial-slider__container {
    width: 60%;
    padding-top: 60%;
    position: relative;
    margin: 64px auto 0 auto;
}

.radial-slider {
    position: absolute;
    top: -25px;
    left: -25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin: 64px auto -25px auto;*/
    border-radius: 50%;
    border: 25px solid;
    border-color: #fafafa #fafafa transparent #fafafa;
}

.controls__temp-value {
    font-size: 48px;
    text-align: center;
    vertical-align: middle;
    margin: 10px auto;
}

.controls__button {
    width: 100px;
    height: 48px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.button--down {
    background: #1976d2 url('../icons/ic_arrow_drop_down_white_24px.svg') center no-repeat;
    background-size: contain;
}

.button--up {
    background: #1976d2 url('../icons/ic_arrow_drop_up_white_24px.svg') center no-repeat;
    background-size: contain;
}

.radial-slider__knob {
    z-index: 2;
    position: absolute;
    height: 40px;
    width: 40px;
    background: #1976d2;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.radial-slider__line {
    z-index: 1;
    position: absolute;
    width: 2px;
    height: 48px;
}

.line--day {
    background-color: #bbdefb;
}

.line--night {
    background-color: #0d47a1;
}

.line--current {
    background: repeating-linear-gradient(
            #f44336,
            #f44336 calc(50% / 4.5),
            transparent calc(50% / 4.5),
            transparent calc(100% / 4.5)
    );
}

.radial-slider__line img {
    width: 24px;
    margin-left: -12px;
    margin-top: 55px;
}

.vacation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    max-height: 100px;
}

.vacation__label {
    margin: 10px;
    font-size: 18px;
}
