.timeline {
    display: flex;
    margin: 48px 0 64px 0;
    width: 100%;
}

.timeline__part {
    display: inline-block;
    height: 48px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.part--day {
    background-color: #bbdefb;
}

.part--night {
    background-color: #0d47a1;
}

.part--disabled {
    background: #bdbdbd url('../icons/ic_lock_grey_24px.svg') center no-repeat;
    background-size: 32px;
    box-shadow: none;
    flex-grow: 1;
}

.timeline__label {
    width: 0;
    text-align: center;
    margin-left: -16px;
    margin-top: -20px;
}

.radial-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 270px;
    height: 270px;
    border-radius: 100%;
    border: 25px solid;
    border-color: #fafafa #fafafa transparent #fafafa;
}

.radial-slider__knob {
    z-index: 2;
    position: absolute;
    height: 40px;
    width: 40px;
    background: #1976d2;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.radial-slider__line {
    z-index: 1;
    position: absolute;
    width: 2px;
    height: 48px;
}

.line--day {
    background-color: #bbdefb;
}

.line--night {
    background-color: #0d47a1;
}

.radial-slider__line img {
    width: 24px;
    margin-left: -12px;
    margin-top: 55px;
}

.temp-value {
    font-size: 48px;
    text-align: center;
    vertical-align: middle;
    margin: 10px auto;
}

.temp-button {
    width: 100px;
    height: 48px;
    background-color: #1976d2;
    color: #fafafa;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome/Opera */
}

.temp-button img {
    display: block;
    margin: 0 auto;
    height: inherit;
}
