.timelines {
    position: relative;
    margin: 0 8px;
}

.timelines__content {
    padding: 12px 0;
}

.content__labels {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: #64b5f6;
    box-shadow: #64b5f6 0 0 20px 3px;
    transition: 1s;
}

.labels__item {
    position: relative;
    left: -16px;
    width: 0;
}

.content__day {
    margin: 12px 0;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-image: url(../icons/stripes.svg);
}

.day__title {
    padding: 12px;
    font-size: 18px;
    font-weight: 400;
}

.timeline {
    padding: 0;
}

.timeline__label {
    display: none;
}

.day__actions {
    display: flex;
    flex-direction: row-reverse;
    padding: 4px;
}
