.timelines {
    position: relative;
    margin: 0 8px;
}

.timelines__content {
    padding: 12px 0;
}

.card__title {
    padding-bottom: 8px;
}

.card__labels {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 8px;
    text-align: center;
}

.labels__item {
    position: relative;
    left: -6px;
    width: 0;
    color: rgba(0, 0, 0, 0.54);
}

.timelines__card {
    margin: 12px 0;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-image: url(../icons/stripes.svg);
}
.timeline {
    padding: 0;
}

.timeline__label {
    display: none;
}

.card__actions {
    display: flex;
    flex-direction: row-reverse;
    padding: 4px;
}
