main {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 48px);
}

.controls__value {
    font-size: 36px;
    text-align: center;
}

.controls__button {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome/Opera */
}

.controls__button img {
    margin-right: 30%;
    width: 100px;
    height: 48px;
    background-color: #1976d2;
    color: #fafafa;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.setting__label {
    width: 100%;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    padding-top: 5%;
    padding-bottom: 5%;
}

#settings-border {
    border-top: 2px solid #aad9ff;
    padding-top: 5%;
    margin-top: 10%;
}

.icon {
    width: 100px;
    height: 100px;
    margin-left: 30%;
    margin-top: 27px;
}

.setting {
    display: flex;
}

.setting__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.setting__img {
    width: 50%;
}

.setting__slider {
    position: relative;
    height: 25px;
    width: 70%;
    margin: 20px auto -10px auto;
    background-color: #fafafa;
}

.slider__knob {
    position: absolute;
    height: 40px;
    width: 40px;
    top: -7.5px;
    left: -20px;
    background: #1976d2;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}