.dummy {
    display: none;
}

.timeline {
    margin: 32px 0;
}

.periods, .periods__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.periods__item {
    position: relative;
    width: 90%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.periods__item:nth-child(2) {
    border-top: 1px solid rgba(255, 255, 255, 0.20);
}

.item__data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    font-size: 24px;
}

.data__time {
    width: 65px;
    text-align: center;
}

.data__time input {
    display: none;
    width: 65px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
}

.item--new {
    display: none;
}

.data__icon {
    width: 24px;
    height: 24px;
}

.item__remove-button {
    display: none;
    position: absolute;
    top: 18px;
    left: 8px;
}

.periods__add-button {
    display: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin: 24px 24px 0 24px;
    background-color: #1976d2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 24px;
    line-height: 56px;
    text-align: center;
}

.raised-buttons__wrapper {
    display: flex;
}

.periods__raised-button {
    min-width: 100px;
    margin: 24px 12px;
    padding: 14px 16px;
    border-radius: 2px;
    background-color: #1976d2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.raised-button--red {
    background-color: #f44336;
}

.buttons-editing {
    display: none;
}
